body{
background-color:#C63D0F;
padding:0px;



}
img {
    width: 100%;
    height: auto;
}
.top{

    top: 0;

    z-index: 999;

}

.wrapper{
  border-style:ridge;
  border-width:thick;
  border-color:#7D1935;
  border-radius:8px;
  text-align:center;


}
p{
  margin:0px;

}
