body{
background-color:#C63D0F;


}
img {
    width: 100%;
    height: auto;
}
.wrapper{
  border-style:ridge;
  border-width:medium;
  border-color:#74AFAD;
  text-align:center;


}
p{
  margin:0px;

}
